@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.pointer {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.italics {
  font-style: italic;
}

.header {
  width: 100vw;
  height: 60px;
  font-size: 20px;
  line-height: 25px;
  position: fixed;
  top: 0px;
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
  color: rgb(117, 117, 117);
  box-shadow: inset -7px -7px 23px 0px rgba(117, 117, 117, 1);
}

.logo {
  display: none;
}

.navBarToggle {
  top: 25px;
  left: 25px;
}
/*
.smallNav {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgb(117, 117, 117);
  position: absolute;
  padding: 20px 30px;
  z-index: 1;
}

.largeNav {
  display: none;
}
//kk
*/

.mainContainer {
  width: 100vw;
  height: calc(100vh - 60px);
  position: absolute;
  bottom: 0px;
  overflow: scroll;
}

.poemHolder {
  background-position: left;
  background-size: cover;
}

.shadow {
  width: 200vw;
  background: rgb(255, 250, 250);
  background: linear-gradient(
    90deg,
    rgba(255, 250, 250, 1) 0%,
    rgba(255, 250, 250, 0.75) 73%,
    rgba(255, 255, 255, 0.5) 100%
  );
}

.poemTitle {
  font-size: 20px;
}

.poemUnderTitle {
  font-size: 18px;
}

.poemFontSizing {
  font-size: 16px;
}

.poemContents {
  padding-bottom: 100vh;
}

@media screen and (min-width: 992px) {
  .header {
    width: 150px;
    height: 100vh;
    color: rgb(159, 159, 159);
    box-shadow: inset -7px -7px 35px 5px rgba(117, 117, 117, 1);
  }

  .header:hover {
    color: rgb(117, 117, 117);
    box-shadow: inset -7px -7px 23px 0px rgba(117, 117, 117, 1);
  }

  .header a:hover {
    font-weight: bolder;
  }

  .logo {
    display: initial;
    width: 110px;
    margin: 100px 0px 5px 10px;
  }

  .largeNav {
    display: initial;
    top: 25%;
    padding: 0px;
  }

  .shadow {
    width: calc(100vw - 150px);
    background: linear-gradient(
      90deg,
      rgba(255, 250, 250, 1) 0%,
      rgba(255, 250, 250, 1) 45%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .poemHolder {
    background-position: right;
    background-size: cover;
  }

  .mainContainer {
    width: calc(100vw - 150px);
    height: 100vh;
    right: 0px;
  }

  .poemTitle {
    font-size: 50px;
  }

  .poemUnderTitle {
    font-size: 40px;
  }

  .poemFontSizing {
    font-size: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .shadow {
    background-image: linear-gradient(
      to left,
      rgba(255, 250, 250, 0),
      rgb(255, 255, 255)
    );
  }
}
